.shop__hero {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .shop__hero {
        text-align: center;
    }
}

select {
    border: 1px solid #c5c5c5;
    padding: 10px 20px;
    border-radius: 5px;
}

