.shop__hero {
    background-image: url('../images/shop-hero.jpg');
    background-position: center;
}
.heroTextContainer {
    width: 100%;
}
select {
    border: 1px solid #c5c5c5;
    padding: 10px 20px;
    border-radius: 5px;
}

.productBlock p {
    margin-bottom: 2px;
}

.carousel, .carousel img {
    border-radius: 6px;
}